<div fxLayoutAlign ="center center" fxFlexFill>
    <mat-card fxFlex = "25" class="customCss">
        <mat-toolbar>
            <span fxLayoutAlign ="center center" fxFlexFill>REGISTER</span>
  <span class="example-spacer"></span>
        </mat-toolbar>
    <form  fxLayoutAlign= "stretch" fxLayout ="column" class="loginForm" >
        <mat-form-field >
            <mat-label>First name</mat-label>
            <input matInput placeholder="First name" formControlName="fName" >
          </mat-form-field>
          <mat-form-field >
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lName" >
          </mat-form-field>
        <mat-form-field >
          <mat-label>Your E-mail</mat-label>
          <input matInput placeholder="E-mail" formControlName="email" >
        </mat-form-field>
      
        <mat-form-field >
            <mat-label>Password </mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" >
            
        </mat-form-field>  

        <mat-form-field >
            <mat-label>Password Match</mat-label>
            <input matInput type="password" placeholder="Password Match" formControlName="passwordM" >
            
        </mat-form-field>
     
          <button mat-button type="submit">Register</button>
      </form>
    </mat-card>
</div>